.btn {
    background-color: transparent;
    color: #000;
    padding: .25rem .5rem;
    display: inline-block;
    border-radius: 7px;
    border: 2px solid #000;
}
.btn:hover{
    text-decoration: none;
    background-color: #000;
    color: #fff;
}